* {
  box-sizing: border-box;
}

p{
  font-family: "Roboto",
}
.aboutMeView > p{
  font-size: 18px;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: rgb(29, 8, 63);
  line-height: 1.5;
}

.wrapper{  
  display: flex;
  flex-direction: column;
  height: 105vh;
}

header {
  display: none;
  height: 50px;
}

/* Put this on the top */
.nav {
  flex: 0 0 50px;
  margin: 0 5% 0 5%;
  border-bottom: 1px solid #2e6fa1;
}
.nav_Links{
  display: flex;
  flex: 1 0 100%;
  padding-inline-start: 0px;
}
.nav_Links li {
  flex: 1 0 auto;
  align-self: flex-end;
}
.nav_Link_Current{
  font-size: 1.2em;
  text-decoration: underline;
}

.content{
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.viewsWrapper{  
  box-sizing: border-box;
  display: flex;
  padding: 0 5% 0 5%;
  flex: 0 1 100%;
  border-left: none;
  justify-content: flex-start;
}
.welcomeView > .hero_Image_Wrapper{
  display: none;
}
.welcomeView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.projectsView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.aboutMeView{
  display: block;
}
.contact{  
  display: flex;
  margin-bottom: 5%;
}
li {
  align-self: center;
  margin: 20px 20px 20px 0;
  list-style-type: none;
}
.project{
  margin: 2.5%;
}
.img_Container{
  width: 100%;
}
.desktop_img{
  width: 100%;
}

footer {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  justify-content: center;
}

.btn_1{
  background-color: white;
  color: rgb(29, 8, 63);
  margin: 1%;
}
.btn_2{
  background-color: rgb(29, 8, 63);
  color: white;
  margin: 1%;
}

.tech-icon {
  color: rgb(29, 8, 63);
  height: 1.3em;
}